<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>成都新旺技术有限公司</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="http://bootstraptaste.com" />
<!-- css -->
<link href="__CSS__/bootstrap.min.css" rel="stylesheet" />
<link href="__CSS__/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="__CSS__/jcarousel.css" rel="stylesheet" />
<link href="__CSS__/flexslider.css" rel="stylesheet" />
<link href="__CSS__/style.css" rel="stylesheet" />
<!-- Theme skin -->
<link href="__CSS__/skins/default.css" rel="stylesheet" />
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper">
	<!-- start header -->
	<include file="Common:header"/>
	<!-- end header -->
	<section id="inner-headline">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="breadcrumb">
						<li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
						<li class="active">质量目标 && 质量方针
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section id="content">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<article>
						<div class="post-image">
							<div class="post-heading">
								<h3 class="navbar-brand" href="#"><span>新旺激光</span>质量目标</h3>
							</div>
							<img src="__IMG__/works/4.jpg" alt="" />
						</div>
						<div>
							<p><span style="color: red;">以顾客为关注焦点</span>：组织依存于其顾客。因此组织应理解顾客当前和未来的需求，满足顾客并争取超越顾客期望。</p>
							<p><span style="color: red;">领导作用</span>：领导者确立本组织统一的宗旨和方向。他们应该创造并保持使员工能充分参与实现组织目标的内部环境。</p>
							<p><span style="color: red;">全员参与</span>：各级人员是组织之本，只有他们的充分参与，才能使他们的才干为组织获益。</p>
							<p><span style="color: red;">过程方法</span>：将相关的活动和资源作为过程进行管理，可以更高效地得到期望的结果。</p>
							<p><span style="color: red;">管理的系统方法</span>：识别、理解和管理作为体系的相互关联的过程，有助于组织实现其目标的效率和有效性。</p>
							<p><span style="color: red;">持续改进</span>：组织总体业绩的持续改进应是组织的一个永恒的目标。</p>
							<p><span style="color: red;">基于事实的决策方法</span>：有效决策是建立在数据和信息分析基础上。</p>
							<p><span style="color: red;">互利的供方关系</span>：组织与其供方是相互依存的，互利的关系可增强双方创造价值的能力。</p>
						</div>
						<div class="bottom-article">
							<ul class="meta-post">
								<li><i class="icon-calendar"></i><a href="#">公司简介</a></li>
								<li><i class="icon-user"></i><a href="#"> 成都新旺激光</a></li>
								<li><i class="icon-folder-open"></i><a href="#"> 质量目标</a></li>
							</ul>
						</div>
					</article>
				</div>
				<div class="col-lg-4">
					<article>
						<div class="post-image">
							<div class="post-heading">
								<h3 class="navbar-brand" href="#">质量方针</h3>
							</div>
							<img src="__IMG__/works/1.jpg" alt="" />
						</div>
						<div>
							以顾客为关注焦点：组织依存于其顾客。因此组织应理解顾客当前和未来的需求，满足顾客并争取超越顾客期望。
							领导作用：领导者确立本组织统一的宗旨和方向。他们应该创造并保持使员工能充分参与实现组织目标的内部环境。
							全员参与：各级人员是组织之本，只有他们的充分参与，才能使他们的才干为组织获益。
							过程方法：将相关的活动和资源作为过程进行管理，可以更高效地得到期望的结果。
							管理的系统方法：识别、理解和管理作为体系的相互关联的过程，有助于组织实现其目标的效率和有效性。
							持续改进：组织总体业绩的持续改进应是组织的一个永恒的目标。基于事实的决策方法：有效决策是建立在数据和信息分析基础上。
							互利的供方关系：组织与其供方是相互依存的，互利的关系可增强双方创造价值的能力。
						</div>
						<div class="bottom-article">
							<ul class="meta-post">
								<li><i class="icon-calendar"></i><a href="#"> 公司简介</a></li>
								<li><i class="icon-user"></i><a href="#"> 成都新旺激光</a></li>
								<li><i class="icon-folder-open"></i><a href="#"> 质量方针</a></li>
							</ul>
						</div>
					</article>
				</div>
			</div>
		</div>
	</section>
	<include file="Common:footer"/>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="__JS__/jquery.js"></script>
<script src="__JS__/jquery.easing.1.3.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/jquery.fancybox.pack.js"></script>
<script src="__JS__/jquery.fancybox-media.js"></script>
<script src="__JS__/google-code-prettify/prettify.js"></script>
<script src="__JS__/portfolio/jquery.quicksand.js"></script>
<script src="__JS__/portfolio/setting.js"></script>
<script src="__JS__/jquery.flexslider.js"></script>
<script src="__JS__/animate.js"></script>
<script src="__JS__/custom.js"></script>
</body>
</html>