<header>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""><span>成都新旺激光</span>技术有限公司</a>
            </div>

            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    <li><a href="{:U(MODULE_NAME.'/Index/index')}">主页</a></li>
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">产品中心<b class=" icon-angle-down"></b></a>

                        <ul class="dropdown-menu">
                            <foreach name="cate" item="cate_v">
                            <li><a href="{:U(MODULE_NAME.'/Product/productcate',array('id'=>$cate_v['id']))}">{$cate_v.name}</a></li>
                            </foreach>
                        </ul>

                    </li>
                    <li><a href="{:U(MODULE_NAME.'/Product/index')}">实例分析</a></li>
                    <li><a href="{:U(MODULE_NAME.'/Company/index')}">公司概况</a></li>
                    <li><a href="{:U(MODULE_NAME.'/People/index')}">人才招聘</a></li>
                    <li><a href="{:U(MODULE_NAME.'/Quality/index')}">质量体系</a></li>
                    <li class="active"><a href="{:U(MODULE_NAME.'/Contact/index')}">联系我们</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>